* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

.voltar-home {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 20px;
    /* distância do menu */
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    /* espaço entre o ícone e o texto */
  }

  .voltar-home:hover {
    color: darkred;
  }

div {
  max-width: 570px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

menu {
  display: flex;
  margin-bottom: 20px;
  gap: 15px;
  justify-content: center;
}

#requisitos {
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  opacity: 1;
  pointer-events: auto;
  position: relative; /* ou remover position */
  bottom: auto;
  transform: none;
}


